/*
Author URI: http://webthemez.com/
Note: 
Licence under Creative Commons Attribution 3.0 
-------------------------------------------------------*/

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);


hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

li{
  margin: 10px 0;
  font-size:18px;
}


.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 10px !important;
	text-decoration:none;
}


.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


/* Styles
---------------------------------*/
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#222222
    font-size: 18px;
    margin: 0 0 5px 0;
}

h4 {
    color:#940a26
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Header Styles
---------------------------------*/

#header_wrapper {
    background: #0d0c0c;
    padding: 15px 0px;
	
	box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.44);
    position: relative;
}

.header_box {
    position: relative;
    /* z-index: 9999999999999999999999999999999999; */
}

.logo a{
    float: left;
	
    font-size: 28px;
    line-height: 50px;
    color: #FF6C71;
}

.res-nav_click {
    display: none;
}
	

/* Nav Styles
---------------------------------*/
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    border: 0px solid #fff;
    min-height: 40px;
    margin-bottom: 0px;
    margin-right:0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F7F7F7;
}

.navStyle {
    float: right;
}

.navStyle ul {
    list-style: none;
    padding: 0px;
}

.navStyle ul li {
    display: inline-block;
    margin: 0 5px;
}

.navStyle ul li:first-child {
	/*margin:0px;*/;
}

.navStyle ul li:last-child {
    margin: 0 0 0 23px;
}

.navStyle ul li a {
    display: block;
    font-size: 15px;
    color: #524545;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.navStyle ul li a:hover {
    color: #ED5441;
}

.navStyle > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #ED5441;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #cf3e5b;
    background-color: transparent;
    border-radius: 4px;
}

.navStyle > li.active > a,
.navStyle > li.active > a:hover {
    text-decoration: none;
    color: #ED5441;
    background-color: transparent;
}

.borderLeft {
    border-left: 1px solid #DADADA;
}

.borderTop {
    margin-top: 30px;
    border-top: 1px solid #DADADA;
}

.mrgTop {
    margin-top: 30px;
}

.text-center {
  text-align: center;
}
#head {
  background: #f4f4f4 url(../img/bg_head.jpg) top center;
  background-size: cover;
  color: #7C7C7C;
  padding: 120px 0;
}
#head img.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 8px dotted rgba(255, 255, 255, 0.23);
  margin: 0 auto 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}
#head .title {
  font-family: Alice, Georgia, serif;
  font-size: 49px;
  font-size: 3.0625rem;
}
#head .title a {
  text-decoration: none;
  color: #333333;
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #7C7C7C;
  margin: 5px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #5E5E5E;
}
.home #head {
  padding: 90px 0;
}
.home #head .title {
  font-size: 49px;
  font-size: 3.0625rem;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 0;
}



/* Top_content
---------------------------------*/

.top_cont_outer {
    background: #ED5441;
    position: relative; 
    background: url('../img/main2.jpg') no-repeat;
	background-size: cover; 
}

.hero_section {
    position: relative;
    padding-top: 72px;
}
.hero_wrapper {
background: rgba(10, 21, 37, 0.69);
height: 650px;
}
.white_pad {
    position: relative;
    right: 0px;
    bottom: 0px;
}

.white_pad img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.top_left_cont {
    padding: 15px 0;
}

.top_left_cont h3 {
    font-size: 16px;
    color: #f56eab;
    margin: 0 0 20px 0;
    text-align: left;
    font-weight: 700;
}

.top_left_cont h2 {
    font-size: 36px;
    color: #FFF;
    line-height: 58px;
    margin: 0 0 26px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: capitalize;
}

.top_left_cont h2 strong {
    font-weight: 400;
	
    color: #FFFFFF;
    font-size: 28px;
    text-transform: capitalize;
}

.top_left_cont p {
font-size: 18px;
color: #FFFFFF;
margin: 0 0 30px 0;
line-height: 33px;
text-align: center;
font-weight: normal;
font-size: 20px;
/* font-weight: 300; */
text-align: center;
letter-spacing: 1px;
}

a.read_more, a.read_more2 {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 20px;
    width: 178px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
	margin:0 auto;
    text-transform: capitalize;
}
a.read_more{
	 color: #3C3C3C;
	 border: 1px solid #3C3C3C;
}
a.read_more2:hover, a.read_more:hover {
    background: #FFFFFF;
    color: #F74C4C;
    border: 1px solid #FFFFFF;
}
a.read_more:hover {
    background: #fff;
    color: #ED5441;
    border: 1px solid #ED5441;
}

div#main-nav {
  width: 100%;
  text-align: center;
}	
.navbar-nav {
  width: 100%;
}
.navbar-nav>li {
  float: initial !important;
}


/* About Us
--------------------------- */
 
.AboutMe-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
}
#AboutMe, h2, h3, h4, p {
/* color: #0A1525; */
}
#AboutMe .read-more{
	border: 1px solid #ED5441;
	color: #1a1a1a;
}

#AboutMe .read-more:hover{
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
	color: #fff;
}
.AboutMe-post-container{
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
}
.AboutMe{ 
}
.AboutMe h3{
	font-size:30px;
    margin-left: 30px;
    color:#940a26;
    margin-top:0px;

}
.AboutMe h4{
    margin-left: 30px;
    color:#940a26;
    margin-right:30px;

}

.points{ 
	margin-bottom: 10px;
	font-size:14px;
	padding-left:0px;
}
.AboutMe p{
	/*font-size: 0.9375em;*/
    margin-left:30px;
    margin-right:0px;
    font-size:16px;
	line-height: 1.625em;
	padding: 16px 0;
    margin-bottom: 0px;
    color:#636060;
}

.AboutMe .large_margin{
    margin-top:18px;
    margin-right:2em;
}

.AboutMe .small_margin{
    margin-top:-10px;
    margin-bottom:-10px;
    margin-right:2em;
}

.small_margin{
    margin-top:-10px;
    margin-bottom:-10px;
}

.AboutMe .interests{
    margin-top:-1px;
    margin-bottom:0px
    margin-left:5px;
}


.AboutMe .about-us-list{
	list-style: none;
	margin-bottom: 20px;
	padding-left:0px;
	padding: 25px 25px 15px;
	background-color: #EDEDED;
}

.AboutMe .points{
	position: relative;
	list-style-type: none;
	padding: 5px 0 5px 30px;
	color: #010100;
}

.AboutMe .points:before{
	content: "\f058";
	position: absolute;
	font-family: FontAwesome;
	font-size: 1.125em;
	color: #F74D4D;
	left: 0px;
	top: 3px;
}

.AboutMe-link a:first-child{
	margin-left: 0;
}

.AboutMe li{
  margin-bottom: 5px;
  margin-top: 0px;
  font-size:14px;
}

.AboutMe ul {
  margin-top: 0px;
  list-style: none; /* Remove default bullets */
}

.AboutMe .interests ul {
  list-style: none; /* Remove default bullets */
}

.AboutMe  ul li::before {
  content: "\1F393";
  color: #000000; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.5em; /* Also needed for space (tweak if needed) */
  height: 1em;
  margin-left: 0em; /* Also needed for space (tweak if needed) */
} 

#AboutMe {
    padding: 60px 0;
    background: #fff;
}


/* Research
---------------------------------*/

.Research-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
margin-bottom: 15px;
margin-top: 10px;
}
#Research, h2, h3, h4, p{
/* color: #0A1525; */
}


.Research-sub-container-gray{
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
margin-bottom: 0px;
margin-top: 0px;
background-color:#f1f1f1;
}

.Research-sub-container-gray .container{
background-color:#f1f1f1;
}

.Research-sub-container-white{
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
margin-bottom: 0px;
margin-top: 0px;
background-color:white;
}

.Research-sub-container-white .container{
background-color:white;
}

.Research h2{
    font-size:30px;
    font-weight:400;
    text-indent: 30px;
    margin-top:30px;
    margin-bottom:0px;
    text-transform: capitalize;

}


.Research h4{
    font-size:25px;
    color:gray;
    text-align: center;
    font-weight:400;
    text-transform: capitalize;
}


.Research li{
  margin-bottom: 10px;
  font-size:16px;
}

.Research ul {
  list-style: none; /* Remove default bullets */
}


/* Collaborations
---------------------------------*/

.Collaborations-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
margin-bottom: 50px;
margin-top: 50px;
}

#Collaborations, h2, h3, h4, p{
/* color: #0A1525; */
}

.Collaborations h2{
    font-size:25px;
    margin-left:-1em;
    text-align: center;
    font-weight:410;
    margin-top:30px;
    margin-bottom:15px;
    text-transform: capitalize;
    color:grey;

}


.Collaborations h4{
    margin-top:0px;
    text-indent: 0;
    text-align: center;
    margin-bottom:60px;
    margin-left:1.5em;
    margin-right:1.5em;
    color: #808080;
    font-size:20px;
}

.Collaborations ul{
  margin-bottom: 30px;
  font-size: 16px;
}

.Collaborations li{
  font-size:16px;
}


.Collaborations ul {
  list-style: none; /* Remove default bullets */
}

.Collaborations ul li::before {
  content: "\21F0";
  color: #000000; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  height: 1em;
  margin-left: 0em; /* Also needed for space (tweak if needed) */
} 

.Collaborations img {
    display: block;
    border-radius: 0%;
    width: 250px;
    height: 110px;
    margin: 0 auto;
    margin-top:3em;
}


.Collaborations .img-responsive{
    width:60%;
    height:60%;
}

.Collaborations .img-responsive2{
    width:80%;
    height:80%;
    margin-left:50px;
}

/* Teaching
---------------------------------*/

.Teaching-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
margin-bottom: 50px;
margin-top: 0px;
}

#Teaching, h2, h3, h4, p {
/* color: #0A1525; */
}

.Teaching h2{
    font-size:25px;
    font-weight:400;
    text-transform: capitalize;
    color:grey;
    margin-left:-1.2em;
}

.Teaching h4{
    color:#8c5762;
    font-weight: 2000;
    font-size:16px;
}

.Teaching h3{
    margin-top:0px;
    text-indent: 0;
    text-align: center;
    margin-bottom:60px;
    margin-left:1.5em;
    margin-right:1.5em;
    color: #808080;
    font-size:18px;
}

.Teaching p{
    color:grey;
}


.Teaching ul {
  list-style: none; /* Remove default bullets */
}

.Teaching ul li::before {
  content: "\2022";
  color: #940a26; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
} 

.Teaching button{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.Teaching .collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  width:100%;
  margin-right:2em;
}

.Teaching .active, .collapsible:hover {
  background-color: #dddddd;
}

.Teaching .collapsible:after {
  content: '\002B';
  color: grey;
  font-weight: bold;
  font-size:13px;
  float: right;
  margin-left: 1em;
  margin-top: -60px;
}

.Teaching .active:after {
  content: "\2212";
}

.Teaching .content {
  width:100%;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  margin-bottom: 5px;
}

.Teaching .vid {
  width:100%;
  padding: 0 10px;
  background-color: white;
  margin-top:3em;
  margin-bottom:3em;
}


.Teaching h3{
    font-weight: 300;
    margin-top:0px;
    text-indent: 0;
    text-align: center;
    margin-bottom:20px;
    color: #808080;
    font-size:18px;
}

/* Awards
---------------------------------*/

.Awards-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
margin-bottom: 50px;
margin-top: 50px;
background-color: #f1f1f1;
}
#Awards, h2, h3, h4, p {
/* color: #0A1525; */
}

.Awards h2{
    font-size:25px;
    font-weight:400;
    text-align: center;
    text-indent: 0px;
    margin-top:30px;
    color:grey;
    text-transform: capitalize;
}

.Awards h4{
    font-size:30px;
    font-weight:400;
    text-align: center;
    margin-top:50px;
    color:grey;
}

.Awards li{
    font-size: 15px;
}


.Collaborations .img-responsive{
    width:60%;
    height:60%;
}

.Awards ul {
  list-style: none; /* Remove default bullets */
}

.Awards ul li::before {
  content: '';
  color: black; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  margin-bottom:-10px;
} 


.fa-award {
  margin-left:-1.2em;
}

/* Social Links
---------------------------------*/



.social_links {
    padding:0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
}

.social_links li {
    float: left;
    margin-right: 4px;
}

.social_links li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
}

.social_links li a:hover, .social_links li a:focus {
    text-decoration: none;
    border-radius: 80px;
}

.twitter a:hover {
    color: #55acee;
}

.facebook a:hover {
    color: #3b5998;
}

.pinterest a:hover {
    color: #cb2026;
}

.gplus a:hover {
    color: #dd4b39;
}
 

.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
    height: 230px;
    resize: none;
    overflow: auto;
    
}

.input-btn {    
    width: 175px;
    height: 50px;
    letter-spacing: 0px;
    background: #FED93E;
    border-radius: 3px;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
    background: #fff;
    color: #222;
}

/* Footer
---------------------------------*/

.footer_wrapper {
    background: #000000;
}

.footer_bottom {
    border-top: 1px solid #3C3A3A;
    padding: 25px 0;
}

.footer_bottom span {
    display: block;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

.footer_bottom span a {
    display: inline-block;
    color: #FDD83D;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.footer_bottom span a:hover {
    color: #fff;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}


/*new_profolio*/

.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

                           
/*
   Media Queries
--------------------------- */
@media (min-width: 768px) and (max-width: 1200px) {

.AboutMe-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 59%;
background-position-y: 150px;
}
}
@media (max-width: 768px) {
.navStyle {
float: right;
width: auto; 
text-align: center;
}
.AboutMe-container{
	background-image:none;
}
p{
font-size:14px;
}
.top_cont_outer { 
height: 335px;
}
.hero_section {
position: relative;
padding-top: 10px;
}
.top_left_cont {
padding: 38px 0;
}
.top_left_cont h2 {
font-size: 25px;
color: #FFF;
line-height: 39px;
margin: 0 0 9px 0;
}
.inner_section {
padding: 20px 0px 20px;
}

.container h2{
    font-size:30px;
    font-weight:400;
    text-indent: 30px;
    margin-top:30px;
    margin-bottom:10px;
    text-align: center;
    text-transform: capitalize;

}

.collab_section {
padding: 0px 0px 0px;
}
#AboutMe img{
margin-bottom:20px;
}
#AboutMe h3{
font-size:26px;
line-height:22px;}
.service_block h3 { 
font-size: 16px;
}
service_block p {
font-size: 14px; 
margin: 0px;
margin-bottom: 20px;
}
#filters ul{
padding-left:0px;
}
.form {
margin: 0 18px;
}
.page_section.team{
padding: 40px 0;
}
, #clients {
padding: 40px 0;
}
.client_logos ul li {
display: inline;
margin: 0 25px;
padding: 11px 0;
display: inline-block;
}
.social_links li {
float: left; 
}
.contact_section{
margin:0;
}
h2, .contact_section h2 {
font-size: 30px;
}
.page_section.contact {
padding: 60px 0 50px;
} 
.navbar-inverse .navbar-toggle .icon-bar{
background: #FFFFFF;
}
.navbar-inverse .navbar-toggle {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
background:none;
outline: none;
}
.navStyle ul li {
display: block;
}
.navStyle {
float: right;
width: 100%;
text-align:center;
}
.navbar {
border: 0px solid #fff;
min-height: 40px;
margin-bottom: 0px;
float: right;
}
.navStyle ul li {
display: block;
margin: 0px;
}
.navStyle ul li:last-child {
margin: 0px;
}
.navbar-inverse .navbar-nav > li > a {
color: #D0D0D0; 
font-size: 14px;
padding: 10px 11px;
}
} 
@media (max-width: 480px){ 
.navStyle {
float: left;
width: 100%; 
text-align: left;
margin-top: 20px;
}
.caption {
display:none;
}
.navbar {
border: 0px solid #fff;
min-height: 40px;
margin-bottom: 0px;
float: initial;
width: 100%;
}
.team_area {
width: 99%;
}

.read_more2{
dispcarollay:none;
}

}
